<div class="p-4">
  <app-data-table
    [rows]="formattedNominations"
    [columns]="columns"
    [actions]="actions"
    [loading]="isLoading"
    [loadingMessage]="loadingMessage"
    defaultSort="createdAt"
    (actionClick)="onActionClick($event)"
  >
  </app-data-table>

  <!-- Drawer -->
  <div
    class="drawer"
    [class.drawer-open]="isDrawerOpen"
    [class.drawer-closed]="!isDrawerOpen"
  >
    <app-forms
      (save)="saveDeclaration($event)"
      [nomination]="selectedNomination"
      *ngIf="isDrawerOpen"
      (onCancel)="closeDrawer()"
    ></app-forms>
  </div>

  <!-- Backdrop -->
  <div
    *ngIf="isDrawerOpen"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity z-50"
    (click)="closeDrawer()"
  ></div>
</div>
